* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
html {
    font-size: 62.5%;
}
:root {
    --primary-color: #FAFAFA;
    --secondary-color: #171717;
    --light-blue: #00419d;
    --dark: #001737;
    --backround-box: #e7e7e7;
    --white: #ffffff;
    --third-color: #fbebcb;
    --light-font: 100;
    --reg-font: 200;
    --bold-font: 700;
    --text: 1.4rem;
    --subtitle: 1.8rem;
    --title: 2.4rem;
    font-family: 'Josefin Slab', serif;
}
header {
    grid-area: header;
    height: auto;
}
.header-navbar {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    place-items: center;
    padding: 20px 25px;
}
.header-navbar-logo {
    grid-column: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-navbar-logo img {
    width: 70px;
}
.header-navbar-menu {
    width: 100%;
    display: flex;
    justify-content: end;
}
.header-navbar-menu img {
    width: 35px;
}
