* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
html {
    font-size: 62.5%;
}
:root {
    --primary-color: #0f0f0f;
    --secondary-color: #FAFAFA;
    --light-font: 100;
    --medium-font: 200;
    --reg-font: 300;
    --bold-font: 500;
    --small: 1rem;
    --normal: 1.4rem;
    --medium: 1.8rem;
    --regular: 2.4rem;
    --larger: 4.8rem;
    font-family: 'Josefin Slab', serif;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 5vh;
    width: 100%;
    background-color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
p {
    color: var(--secondary-color);
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}

.main-container {
    display: grid;
    row-gap: 50px;
}

/* MAIN CONTAINER HERO*/

.main-container-hero {
    width: 95%;
    margin: 0 auto;
}
.main-container-hero div h1 {
    font-size: var(--larger);
    font-weight: var(--bold-font);
}
.main-container-hero div h2 {
    font-size: var(--medium);
}
.main-container-hero div p {
    font-size: var(--normal);
}
.main-hero {
    display: grid;
    row-gap: 20px;
    place-items: center;
}
.main-hero img {
    width: 70%;
    max-width: 330px;
    border-radius: 50%;
}

/* MAIN CONTAINER PORTFOLIO*/

.main-container-portfolio {
    width: 95%;
    margin: 0 auto;
}
.main-portfolio-title {
    max-width: 700px;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}
.main-portfolio-title h3 {
    font-size: var(--regular);
}









